/* styles.css */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Minimum height to ensure the entire viewport is covered */
}

.main-container {
  flex-grow: 1; /* Allow main container to grow to fill available space */
  display: flex;
  flex-direction: column;
}

.block{
  border: 1px solid #ccc;
  width: 20px;
}
.rotate-180 {
  transform: rotate(180deg) scaleX(-1);
  margin-bottom: 150px;
}
.footer {
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
}
.binaryTree {
  width: fit-content;
}
.binaryTree div{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;
  gap: 0.5rem;
  margin-top: 1rem;
  position: relative;
}
.binaryTree span{
  grid-column: 1 / 3;
  border: 1px solid black;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin: auto;
}
.binaryTree path{
  fill: none;
  stroke: black;
  stroke-width: 2;
}