/* styles.css */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Minimum height to ensure the entire viewport is covered */
}

.main-container {
  flex-grow: 1; /* Allow main container to grow to fill available space */
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.block{
  border: 1px solid #ccc;
  width: 20px;
}
.box{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border: 5px solid #ccc;
  margin: 10px;
  color: white;
}
.rotate-180 {
  transform: rotate(180deg) scaleX(-1);
  margin-bottom: 150px;
}
.footer {
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
}


.binaryTree {
  width: fit-content;
}
.binaryTree div{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;
  gap: 0.5rem;
  margin-top: 1rem;
  position: relative;
}
.binaryTree span{
  grid-column: 1 / 3;
  border: 1px solid black;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin: auto;
}
.binaryTree path{
  fill: none;
  stroke: black;
  stroke-width: 2;
}

.matrix{
  flex: 1;
  width: 40%;
  height: 1px;
}
.matrixRow{
  display: flex;
}

.matrixVal{
  flex: 1;
  aspect-ratio: 1/1;
  border: 1px solid gray;
  cursor: pointer;
  color: white;
  font-size: 0.6em;
}
.active{
  background-color: green;
}

.slider{
  -webkit-appearance: none;
  height: 15px;
  background-color: gray;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 10px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #1B2631; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
button:hover{
  background-color: #7F8C8D;
}